# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\COMP90082\automated-plan-checking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
